<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta content="" name="description"> 
    <meta content="" name="author">
    <title>todo list</title>

</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <div class="container">
                <div class="logo">Create your todo list</div>
                <form class="form" @submit.prevent="addList">
                    <input type="text"
                    v-model="inputValue"
                    >
                    <button class="button" type="submit"
                    >Add a new task</button>
                </form>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>Todo</span>
                <!-- <span class="todo-num">{{completeList}}</span> -->
            </h2>
            <ul class="todo-list" >
               <template v-for="todo in completeList">
                    <li v-if="!todo.checked">
        
                    </li>
               </template>
                <!-- <li v-for="(mask,ind) in needDoList"
                :key="mask.id"> -->
                    <div>
                        <input type="checkbox" :change="doCheck(todo)">
                        <!-- <span>{{todo.title}}</span> -->
                        
                    </div>
                    <button class="button-remove"
                    @click="removetodo(ind)">Remove</button>
                </li>
            </ul>
            <h2>
                <span>Compleated</span>
                <!-- <span class="todo-num">{{completeList}}</span> -->
            </h2>
            <ul class="todo-list complete-list">
                <template v-for="todo in completeList">
                    <li v-if="todo.checked">

                    </li>
                </template>
                <!-- <li v-for="(mask,ind) in completeList"
                :key="mask.id"> -->
                    <div>
                        <input type="checkbox" :change="completeCheck(todo)">
                        <span>{{todo.title}}</span>
                    </div>
                    <button class="button-remove"
                    @click="deleteCompleteCheck(todo)">Remove</button>
                </li>
            </ul>
        </div>
    </div>
  
   <!-- <li v-for="todo in completeList" v-if="todo.checked"></li>
   <li v-for="todo in completeList" v-if="!todo.checked"></li> -->

   
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/main.js"></script>
    
</body>

</html>